.letras{
    color: #fff;
    margin-top: 20px;
    }    
.centrado--qr{
display: flex;
margin-top: 50px;
margin-bottom: 30px;
align-items: center;
justify-content: center;
}

.centrado--caja--texto{
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;
font-weight: 700;
}
