
ion-content {
    --ion-background-color: #4949c5 !important;
}


.contenido--container{
    width: 100%;
    .container--btn{
        position: relative;
        top: 40px;
        left: 10px;
    }
    ion-label{
        display: block;
        color: #fff;
        text-align: center;
    }
    .usuario--container{
        padding: 18px;
        width: 100%;

        background: #4949c5 !important;
        display: flex;
        padding-top: 40px;
        justify-content: space-between;

        .primer--container{
            padding-top: 35px;
            .bienvenido{
                font-size: 18px;
                color: #fff;
                font-weight: 500;
            }
            .nombre{
                font-size: 12px;
                color: #fff;
                font-weight: 600;
            }
        }
        .usuario--volver{
            height: 100px;
            width: 80px;
            border: 3px solid white;
            background-position: top ;
            background-size: cover ;
            background-repeat: no-repeat;
            border-radius: 7px;


        }
    }
    .contenido--div{
        background: #6874f3;
        width: 100%;
        border-top-right-radius: 75px;
        margin-top: 10px;
        padding-top: 30px;

        .hola--label{
            font-weight: 600;
            margin-bottom: 10px;
            padding-left: 5px;
            margin-top: 10px;
        }

        ion-grid{
            padding: 0px;
        }

        .col--div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 128px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
            border-radius: 5px;

            img{
                width:70px;
            }
            ion-label{
                color:var(--ion-color-primary-contrast);
                margin-top: 5px;
            }
        }
    }
}

.img-perfil{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border:8px solid #ffffff;
        align-items: center;
        transform: rotate(-0.25turn);
    }
