

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 006D </ion-card-subtitle>
      <ion-card-title>Etica para el trabajo</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 005D</ion-card-subtitle>
      <ion-card-title>Estadisitica</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 005D</ion-card-subtitle>
      <ion-card-title>Estadisitica</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
