<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label class="color-asist" >
        <h2>Arquitectura</h2>
        <h5>100% (7 de 7 clases)</h5>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="color-asist">
        <h2>Calidad Software</h2>
        <h5>85.7% (6 de 7 clases)</h5>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="color-asist">
        <h2>Estadistica Descriptiva</h2>
        <h5>100% (5 de 5 clases)</h5>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="color-asist">
        <h2>Aplicaciones Moviles</h2>
        <h5>100% (3 de 3 clases)</h5>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
