<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Lista Alumnos</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card>
      <ion-card-header color=warning>
      <ion-card-subtitle class="centrado--texto">Victor Rosendo</ion-card-subtitle>
      <ion-card-title class="centrado--texto">Sección: 002D</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="tabla">
  <table>
    <thead color="warning">
      <tr>
        <th>Rut</th><th>Estudiante</th><th>Asignatura</th><th>Fecha</th>
      </tr>
      
    </thead>
    <tbody>
      <tr>
        <td class="tamano">20053123-2</td><td>Benjamin Vidal Plaza</td><td>Aplicaciones Moviles</td><td> 02/09/22</td>
      </tr>
      <tr>
        <td class="tamano">20053123-2</td><td>Yzan Báez Carrasco</td><td>Aplicaciones Moviles</td><td> 02/09/22</td>
      </tr>
      <tr>
        <td class="tamano">20053123-2</td><td>Alberto Vidal Castro</td><td>Aplicaciones Moviles</td><td> 02/09/22</td>
      </tr>
      <tr>
        <td class="tamano">20053123-2</td><td>Martin Plaza </td><td>Aplicaciones Moviles</td><td> 02/09/22</td>
      </tr>
      
    </tbody>
  </table>
  </div>

</ion-content>
