.tabla{
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 90%;
    margin-top: auto;

}

th:nth-child(even){
    padding: 1px;
    border: solid 1px  black
}
tr:hover td{
    background-color: #4949c5;
}
table{
    background: white;
    border-collapse: collapse;
    text-align: center;
    width: 95%;
}
tr, td{
    border: solid 1px  black;
    padding: 5px;
    font-size: 11px;

}
thead{
    background-color: #ffde59 !important;
    color: #000;
    border-bottom: solid 4px black;
}

.centrado--texto{
    text-align: center;
}

.tamano{
    font-size: 10px;
    padding: 2px !important;
    width: 100%;
}