<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Horario</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>Lunes</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Programacion de Base de Datos</ion-card-title>
      <ion-card-subtitle>PGY4237</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
<h2>Martes</h2>
<ion-card>
  <ion-card-header>
    <ion-card-title>Programacion de Aplicaciones moviles II</ion-card-title>
    <ion-card-subtitle>PGY4121</ion-card-subtitle>
  </ion-card-header>
</ion-card>
  
</ion-content>
