<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Perfil Profesor</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="warning" shape="block" (click)="tomarF()" class="ass">
        <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div align="center">
      <ion-avatar>
        <img class="img-perfil" img [src]="imagen" alt="imagene">
      </ion-avatar>
    </div>
  </ion-grid>


  <ion-list>
    <ion-item color="warning">
      <ion-label>
        <ion-text >Usuario:</ion-text>
        <p><ion-text>{{nombre_pe}} </ion-text></p>
      </ion-label>
      <ion-icon (click)="enviarDatos()" slot="end" name="create"></ion-icon>
    </ion-item>

    <ion-item color="warning">
      <ion-label>
        <ion-text >Nombre:</ion-text>
        <p><ion-text>{{nombre}} {{apellido}} </ion-text></p>
      </ion-label>
    </ion-item>

    <ion-item color="warning">
      <ion-label>
        <ion-text >Email:</ion-text>
        <p><ion-text>{{email}} </ion-text></p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
