<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Secciones </ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label class="color-asist" >
        <h2>Arquitectura</h2>
        <h5>Seccion: ASY4131 </h5>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="color-asist">
        <h2>Calidad Software</h2>
        <h5>Seccion: CSY4111 </h5>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="color-asist">
        <h2>Estadistica Descriptiva</h2>
        <h5>Seccion: MAT4140 </h5>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="color-asist">
        <h2>Aplicaciones Moviles</h2>
        <h5>Seccion: PGY4121 </h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
