<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons  slot="end" class="conteiner--btn" (click)="tomarF()">Subir imagen</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div id="container">
      <ion-card color="warning">
      
        <img  class="img-perfil" img [src]="imagen" alt="foto">
      
      </ion-card>
    </div>
    
    <ion-card>
      <ion-card-content>
          <ion-item color="warning">
            
            <ion-label position="floating" >Nombre:</ion-label>
            <ion-input minlength="4" maxlength="20" type="text" [(ngModel)]="perfiles.nombre"></ion-input>
          </ion-item>
          <ion-item color="warning">

            <ion-label position="floating">Apellido:</ion-label>
            <ion-input minlength="4" maxlength="20" type="text" [(ngModel)]="perfiles.apellido"></ion-input>
          </ion-item>

          <ion-item color="warning">
            <ion-label  position="floating" >Correo:</ion-label>
            <ion-input minlength="2" maxlength="45" type="email" [(ngModel)]="perfiles.email"></ion-input>
          </ion-item>
    
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="warning" (click)="Entrar()">Guardar Cambios</ion-button>

</ion-content>
