<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Tecno - Nacional
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <div>
    <img src="/assets/icon/uni2.png" alt="">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
       

        <span class="already">!Bienvenido!</span>

        <ion-button [routerLink]="['/inicio-sesion']" expand="block" color="warning">Iniciar Sesión</ion-button>
        <ion-button [routerLink]="['/perfil-profesor']" expand="block" color="warning">PerfilProfesor</ion-button>
        <ion-button [routerLink]="['/pruebacam']" expand="block" color="warning">Camara</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
