

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 003D</ion-card-subtitle>
      <ion-card-title>Arquitectura</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 004D</ion-card-subtitle>
      <ion-card-title>Calidad de Software</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 002D </ion-card-subtitle>
      <ion-card-title>Aplicaciones  Moviles</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
