<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Iniciar Sesion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <div>
    <img src="/assets/icon/uni2.png" alt="">
  </div>

  <ion-item>
    <ion-label for="modelFormControl">Nombre:</ion-label>
    <ion-input placeholder="Email" [formControl]="email" > {{}} </ion-input>
  </ion-item>

  <div  *ngIf="!email.valid && email.touched">
    <p *ngIf="email.errors?.required">*No es valido porque es requerido</p>
    <p *ngIf="email.errors?.minlength">*Minimo tiene que ser de 9 caracteres</p>
    <p *ngIf="email.errors?.maxlength">*Maximo tiene que tener 25 caracteres </p>
    
  
  </div>


  <ion-item>
    <ion-label for="modelFormControl">Contraseña:</ion-label>
    <ion-input placeholder="Clave" [formControl]="password"></ion-input>
  </ion-item>

  <div *ngIf="!password.valid && password.touched">
    <p *ngIf="password.errors?.required">*No es valido porque es requerido</p>
    <p *ngIf="password.errors?.minlength">*Contraseña invalida</p>
    <p *ngIf="password.errors?.maxlength">*Contraseña es solo hasta 8 caracteres</p>
    
  </div>

  <ion-button expand="block" color="warning" [disabled]="!email.valid">Ingresar</ion-button>


  


</ion-content>
