<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Iniciar Sesion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <div>
    <img src="/assets/icon/uni2.png" alt="">
  </div>

  <ion-item>
    <ion-label for="modelFormControl">Nombre:</ion-label>
    <ion-input placeholder="nombre" [formControl]="nombre" [(ngModel)]="luser.nombre"> </ion-input>
  </ion-item>

  <div  *ngIf="!nombre.valid && nombre.touched">
    <p *ngIf="nombre.errors?.required">*No es valido porque es requerido</p>
    <p *ngIf="nombre.errors?.minlength">*Minimo tiene que ser de 4 caracteres</p>
    <p *ngIf="nombre.errors?.maxlength">*Maximo tiene que tener 10 caracteres </p>
    
  
  </div>


  <ion-item>
    <ion-label for="modelFormControl">Contraseña:</ion-label>
    <ion-input placeholder="clave" [formControl]="clave" [(ngModel)]="luser.clave"></ion-input>
  </ion-item>

  <div *ngIf="!clave.valid && clave.touched">
    <p *ngIf="clave.errors?.required">*No es valido porque es requerido</p>
    <p *ngIf="clave.errors?.minlength">*Contraseña invalida</p>
    <p *ngIf="clave.errors?.maxlength">*Contraseña es solo hasta 8 caracteres</p>
    
  </div>

  <ion-button expand="block" color="warning" [disabled]="!nombre.valid" (click)="ingresar()">Ingresar</ion-button>


  


</ion-content>
