

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 007D</ion-card-subtitle>
      <ion-card-title> Ingles Intermedio </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 007D</ion-card-subtitle>
      <ion-card-title> Ingles Intermedio</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 007D</ion-card-subtitle>
      <ion-card-title> Ingles Intermedio</ion-card-title>
    </ion-card-header>
  </ion-card>

  

</ion-content>
