<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 003d</ion-card-subtitle>
      <ion-card-title>Arquitectura</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 004d</ion-card-subtitle>
      <ion-card-title>Calidad Software</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 002d</ion-card-subtitle>
      <ion-card-title>Aplicaciones Moviles</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 005d</ion-card-subtitle>
      <ion-card-title>Estadistica</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
