<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Perfil Alumno</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button> 
    </ion-buttons>
    <ion-buttons slot="end" [routerLink]="['/perfil']">Editar Perfil</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div align="center">
      <ion-avatar>
        <img class="img-perfil" img [src]="imagen" alt="imagene">
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-row color="warning">
    <ion-col size="12">
      <ion-item lines="none" align="center">
        <ion-label><p>Informatica</p></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item color="warning">
      <ion-label>
        <ion-text >Nombre:</ion-text>
        <p><ion-text>{{nombre_pe}} </ion-text></p>
        <ion-icon (click)="enviarDatos()" slot="end" name="create"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item color="warning">
      <ion-label>
        <ion-text >Email:</ion-text>
        <p><ion-text>{{nombre}} </ion-text></p>
      </ion-label>


  </ion-list>

</ion-content>
