<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Asignaturas</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label class="color-asig" >
        <h2>Arquitectura</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="color-asig">
        <h2>Calidad Software</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="color-asig">
        <h2>Estadistica Descriptiva</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="color-asig">
        <h2>Aplicaciones Moviles</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
