<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Asignaturas</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 003D</ion-card-subtitle>
      <ion-card-title>Arquitectura</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 004D</ion-card-subtitle>
      <ion-card-title>Calidad Software</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 002D</ion-card-subtitle>
      <ion-card-title>Aplicaciones Moviles</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 005D</ion-card-subtitle>
      <ion-card-title>Estadistica</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 007D</ion-card-subtitle>
      <ion-card-title>Ingles Intermedio</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seccion 006D</ion-card-subtitle>
      <ion-card-title>Etica para el trabajo</ion-card-title>
    </ion-card-header>
  </ion-card>


</ion-content>
